
//layers
#define DEF 0
#define NAV 1
#define WIN 2
#define NAVWIN 3
#define SPL 4
#define SPR 5
#define NUM 6
#define SYS 7
              
//pseudo-mod-keys
#define SPL_KEY 26
#define SPR_KEY 23
#define NAV_KEY 45
#define NUM_KEY 41

//timing
#define FAST_TAP 60
#define FAST_IDLE 180
#define SLOW_TAP 60
#define SLOW_IDLE 180


//make combo
#define COMBO(NAME, BINDINGS, KEYPOS, TAP, IDLE) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <DEF WIN>; \
    timeout-ms = <TAP>; \
    require-prior-idle-ms = <IDLE>; \
    slow-release; \
  };


  /*                KEY POSITIONS
  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
  │ 30  31  32  33  34 │ │ 35  36  37  38  39 │
  ╰───────╮ 40  41  42 │ │ 43  44  45 ╭───────╯
          ╰────────────╯ ╰────────────╯         */

/ {   
    combos {
        compatible = "zmk,combos";

        /*              left hand symbols
        ╭────────────────────╮ ╭────────────────────╮ 
        │ __  __  __  __  __ │ │ __  __  __  __  __ │ 
        │  !   }   ]   )   % │ │ __  __  __  __  __ │  
        │  +   {   [   (   = │ │ __  XX  __  __  __ │
        │  *   #   \   /   @ │ │ __  __  __  __  __ │
        ╰───────╮ __  __  __ │ │ __  __  __ ╭───────╯
                ╰────────────╯ ╰────────────╯        */
        COMBO(l_excl, &clh SPL EXCL, SPL_KEY 10, SLOW_TAP, SLOW_IDLE)
        COMBO(l_rbrc, &clh SPL RBRC, SPL_KEY 11, SLOW_TAP, SLOW_IDLE)
        COMBO(l_rbkt, &clh SPL RBKT, SPL_KEY 12, SLOW_TAP, SLOW_IDLE)
        COMBO(l_rpar, &clh SPL RPAR, SPL_KEY 13, SLOW_TAP, SLOW_IDLE)
        COMBO(l_prcnt, &clh SPL PRCNT, SPL_KEY 14, SLOW_TAP, SLOW_IDLE)
        COMBO(l_plus, &clh SPL PLUS, SPL_KEY 20, FAST_TAP, FAST_IDLE)
        COMBO(l_lbrc, &clh SPL LBRC, SPL_KEY 21, FAST_TAP, FAST_IDLE)
        COMBO(l_lbkt, &clh SPL LBKT, SPL_KEY 22, FAST_TAP, FAST_IDLE)
        COMBO(l_lpar, &clh SPL LPAR, SPL_KEY 23, FAST_TAP, FAST_IDLE)
        COMBO(l_equal, &clh SPL EQUAL, SPL_KEY 24, FAST_TAP, FAST_IDLE)
        COMBO(l_star, &clh SPL STAR, SPL_KEY 30, SLOW_TAP, SLOW_IDLE)
        COMBO(l_hash, &clh SPL HASH, SPL_KEY 31, SLOW_TAP, SLOW_IDLE)
        COMBO(l_bslh, &clh SPL BSLH, SPL_KEY 32, SLOW_TAP, SLOW_IDLE)
        COMBO(l_fslh, &clh SPL FSLH, SPL_KEY 33, SLOW_TAP, SLOW_IDLE)
        COMBO(l_at, &clh SPL AT, SPL_KEY 34, SLOW_TAP, SLOW_IDLE)

        /*             right hand symbols
        ╭────────────────────╮ ╭────────────────────╮
        │ __  __  __  __  __ │ │ __  __  __  __  __ │ 
        │ __  __  __  __  __ │ │ |   &   _   <   >  │
        │ __  __  __  XX  __ │ │ =   __  __  ?   -  │
        │ __  __  __  __  __ │ │ __  $   ~   ^   `  │
        ╰───────╮ __  __  __ │ │ __  __  __ ╭───────╯
                ╰────────────╯ ╰────────────╯        */
        COMBO(r_pipe, &clh SPR PIPE, SPR_KEY 15, SLOW_TAP, SLOW_IDLE)
        COMBO(r_amps, &clh SPR AMPS, SPR_KEY 16, SLOW_TAP, SLOW_IDLE)
        COMBO(r_under, &clh SPR UNDER, SPR_KEY 17, SLOW_TAP, SLOW_IDLE)
        COMBO(r_lt, &clh SPR LT, SPR_KEY 18, SLOW_TAP, SLOW_IDLE)
        COMBO(r_gt, &clh SPR GT, SPR_KEY 19, SLOW_TAP, SLOW_IDLE)
        COMBO(r_equal, &clh SPR EQUAL, SPR_KEY 25, FAST_TAP, FAST_IDLE)
        COMBO(r_qmark, &clh SPR QMARK, SPR_KEY 28, FAST_TAP, FAST_IDLE)
        COMBO(r_minus, &clh SPR MINUS, SPR_KEY 29, FAST_TAP, FAST_IDLE)
        COMBO(r_dllr, &clh SPR DLLR, SPR_KEY 36, SLOW_TAP, SLOW_IDLE)
        COMBO(r_tilde, &clh SPR TILDE, SPR_KEY 37, SLOW_TAP, SLOW_IDLE)
        COMBO(r_caret, &clh SPR CARET, SPR_KEY 38, SLOW_TAP, SLOW_IDLE)
        COMBO(r_grave, &clh SPR GRAVE, SPR_KEY 39, SLOW_TAP, SLOW_IDLE)

        //fast nav combos
        COMBO(nav_ret, &clh NAV RET, NAV_KEY 23, SLOW_TAP, SLOW_IDLE)
        COMBO(nav_bspc, &clh NAV BSPC, NAV_KEY 22, SLOW_TAP, SLOW_IDLE)
        COMBO(nav_tab, &clh NAV TAB, NAV_KEY 33, SLOW_TAP, SLOW_IDLE)
        COMBO(nav_esc, &clh NAV ESC, NAV_KEY 10, SLOW_TAP, SLOW_IDLE)
        COMBO(nav_cut, &clh NAV LG(X), NAV_KEY 11, SLOW_TAP, SLOW_IDLE)
        COMBO(nav_copy, &clh NAV LG(C), NAV_KEY 12, SLOW_TAP, SLOW_IDLE)
        COMBO(nav_pas, &clh NAV LG(V), NAV_KEY 13, SLOW_TAP, SLOW_IDLE)
        
        //fast double quotes
        COMBO(double_quote, &kp DQT, 29 30, 80, SLOW_IDLE)
        
        //fast spotlight
        COMBO(spotlight, &kp RG(SPACE), 28 40, 80, SLOW_IDLE)
    };
};

