if SHIELD_ERGOALEX

    config ZMK_KEYBOARD_NAME
        default "ergoalex_left"

    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        default y

    config ZMK_SPLIT
        default y

    config ZMK_BLE_EXPERIMENTAL_FEATURES	
        default y
        
    BT_CTLR_TX_PWR_PLUS_8
        default y

endif